.card {
    display: grid;
    grid-template-columns: 8fr 10fr 5fr;
    margin: 25px;
    height: 150px;
    border-radius: 12px;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
    background: linear-gradient(to right, #B17949ff, #785C39ff);
  }

.card > * {
    padding: 10px;
    width: 100%;
}
  