.block{
    height: 65px;
    display: grid;
    grid-template-columns: 5fr 5fr 5fr;
    margin: 15px;
    list-style: none;
}

.pokeball{
    height: 65px;
}

.image{
    height: 65px;
    width: 65px;
}

.whitespace{
    background-color: white;
}

.gamesquare{
    height: 75px;
    width: 75px;
}